<div class="head_bit">
  <h1>Mapper#index</h1>

  <p>Find me in app/views/mapper/index.html.erb</p>

  <p>This Page will hold the Mapper</p>
</div>
<div class="keyboard_wrapper">
  <div class="keyboard">
    <% @keys.each do |key| %>
        <div class="key" id="<%= key.name %>" style="color: <%= key.key_group.color1 %> ; top:<%= key.y_pos %>px;left: <%= key.x_pos %>px;">
          <div class="key-text">
            <%= key.name %>
          </div>
        </div>
    <% end %>
  </div>
</div>