<div class="head_bit">

</div>
<div class="keyboard_wrapper">
  <div class="keyboard">
    <% @keys.each do |key| %>
        <div class="key <%= key.eclass %> " id="<%= key.name %>" style="top:<%= key.y_pos %>px;left: <%= key.x_pos %>px;">
          <div class="key-text" style="color: <%= key.key_group.color1 %> ;">
            <%= button_to key.name, {controller: "keys", action: "show", id: key.id},method: :get %>
          </div>
        </div>
    <% end %>
  </div>
</div>